body{
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px;
}
.tile{
    font-size: x-large;
}
.p{
    font-size: 18px;
    align-self: center;
}
.imagem{
    border-radius: 50%;
    width: 300px;

}
.formulario{
    padding: 30px;

}
.form{
    height: auto;
    width: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    border: 3px solid rgb(40, 71, 101);
    background-color: rgb(40, 71, 101);
    border-radius: 8px;
    padding: 30px;
}
.title-form{
    padding: 0;
}
.button{
    background-color: rgb(221, 140, 58);
    color: white;
    padding: 10px;
}
.input{
    padding: 6px;
    gap: 30px;
}
.span-form{
    font-size: small;
}
.br{
    padding: 1px;
}
.radio{
    display: inline;
    flex-direction: row;
    align-self: left;
}
.label-radio{
    display: block;
}
.div3{
    display: block;
    }